<div id="<%= dom_id course %>">
  <p>
    <strong>Course name:</strong>
    <%= course.course_name %>
  </p>

  <p>
    <strong>Teacher name:</strong>
    <%= course.teacher_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= course.email %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= course.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= course.end_time %>
  </p>

</div>
